<%- include ("navbar.ejs"); -%>
<style>
   .box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(https://img.freepik.com/free-vector/white-abstract-background-design_23-2148825582.jpg?size=626&ext=jpg&ga=GA1.2.498331768.1663591247);
    background-repeat: no-repeat;
    background-size: cover;
}
.form {
    width: 400px;
    padding: 30px;
   /* From https://css.glass */
background: rgba(255, 255, 255, 0.32);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

.form .form-group{
    padding: 6px;
}
.text-login{
    text-align: center;
    padding-bottom: 30px;

}
</style>
<div class="box">
    
    <section class="form">
    <h2 class="text-login">Create Date</h2>
    <p class="text-danger">Format should be : 25-11-2022</p>
      <form action="/" method="post">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="date"
            name="username"
          
            placeholder="Enter date"
          
          />
        </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">
            Submit
          </button>
        </div>
      </form>
    </section>
    </div>
<%- include ("footer.ejs"); -%>